@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* Criando aqui o box com as infos e estilizando o titulo */
*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body{
    background: linear-gradient(105.18deg, #f4fbfa 0%, #bebebe 100%);
    height: 100vh;
    overflow-y: hidden;
    /* esse overflow ta escondendo o que passa da tela, num pc maior n sei se é necessario/ só usar em media acima de um determinado numero, pra cll buga */
}

.container{
    /* border: 1px solid red; */
    width: 90%;
    height: 90vh;
    margin: 5vh auto auto auto;
    background-color: #E7E7E7;
    border-radius: 20px;
}

.left_info, .right_info{
    float: left;
}

.left_info h1{
    color: #434141;
    font-size: 70px;
    font-weight: 700;
    padding: 20% 0 5% 20%;
}

#h1_baixo{
    font-size: 80px;
}

.letra_title:first-child{
    color: #F78B1F;
}

.letra_title:last-child{
    color: #005594;
}

.left_info p{
    padding-left: 22%;
}

/* Começando aqui a estilização do form */
.right_info{
    margin: 7.2% 0 0 32.5%;
}

.form{
    border: none;
    border-radius: 20px;
}

.inp_dados{
    width: 22.7em;
    padding: 0 5% 0 5%;
    margin-bottom: 8%;
    height: 3.3em;
    background-color: #E9EFF6;
}

.inp_dados:focus-visible{
    outline: none;
    list-style: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}

.send_btn{
    background-color: #F78B1F;
    color: #ffffff;
    font-weight: 800;
    font-size: 18px;
    height: 2.3em;
    width: 18.6em;
    cursor: pointer;
}

.send_btn:hover{
    opacity: 0.8;
}

#password{
    width: 19.5em;
    padding-right: 5%;
}

.inp_senha{
    width: 21em;
    height: 2.7em;
    background-color: #E9EFF6;
    border-radius: 20px;
}

/* essas proximas 3 linhas cortam o icon na tela quando ele tiver a classe: hide-btn */
.inp_senha span i.hide-btn::before{
    content: "\f070";
}

/* começando aqui a estilização do titulo de contato */
.social{
    margin: 7%;
    width: 18em;
    text-align: center;
}

.social h4{
    text-align: center;
    font-weight: 500;
    width: 23%;
    display: inline-flex;
}

.line_h4{
    width: 30%;
    display: inline-flex;
}

hr{
    height: 1px;
    background-color: #000;
    position: relative;
    bottom: 2px;
}

/* começando aqui a estilização dos icons de contato */
.social_icon{
    padding: 2%;
    width: 12%;
    height: 1.9em;
    align-items: center;
    justify-content: space-between;
    float: left;
    margin: 5% 5% 5% 9.5%;
    background-color: #E7E7E7;
    border: 2px solid #F2F2F2;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.social_icon img{
    margin-top: 2px;
}

.social_icon img:first-child{
    margin-top: 3px;
}

.up-div{
    margin-bottom: 3em;
}

.up-div img{
    margin-top: 15% !important; 
}

a{
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    opacity: 0.7;
}

/* começando aqui a estilização da imagem central */
.last_img img{
    height: 50%;
    width: 35%;
    position: relative;
    bottom: 15em;
    left: 24em;
}